.portfolio {
    padding: 1rem 0.5rem;
    background-color: #505050;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  .portfolio h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #f8c200;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
  
  .portfolio-slider {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slick-prev, .slick-next {
    font-size: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f8c200;
    color: #121212;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slick-prev {
    left: -35px;
  }
  
  .slick-next {
    right: -35px;
  }
  
  .slick-prev:before, .slick-next:before {
    font-size: 18px;
    color: #121212;
    content: '\f104'; /* FontAwesome icon for left arrow */
    font-family: 'FontAwesome';
  }
  
  .slick-next:before {
    content: '\f105'; /* FontAwesome icon for right arrow */
  }
  
  .slick-dots {
    bottom: -30px; /* Position the dots */
  }
  
  .slick-dots li button:before {
    font-size: 10px;
    color: #f8c200;
  }
  
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
  }
  
  .portfolio-item {
    padding: 0;
    background: #1e1e1e;
    cursor: pointer;
    height: auto;
  }
  
  .portfolio-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .portfolio-item h3, .portfolio-item p {
    padding: 0.8rem;
    background: #1e1e1e;
  }
  
  .portfolio-item h3 {
    font-size: 1rem;
    color: #f8c200;
    margin-bottom: -0.5rem;
  }
  
  .portfolio-item p {
    font-size: 0.8rem;
    color: #bdbdbd;
    line-height: 1.3;
  }

  /* Apply height only on desktop devices */
    @media (min-width: 1024px) {
        .portfolio {
        height: 700px;
        }
    }
  
  /* Responsive Design for Smaller Screens */
  @media (max-width: 768px) {
    .portfolio h2 {
      font-size: 1.2rem;
    }
  
    .portfolio-slider {
      max-width: 100%;
    }
  
    .slick-prev, .slick-next {
      width: 25px;
      height: 25px;
    }
  
    .slick-prev {
      left: -25px;
    }
  
    .slick-next {
      right: -25px;
    }
  
    .slick-prev:before, .slick-next:before {
      font-size: 14px;
    }
  
    .portfolio-item h3 {
      font-size: 0.9rem;
    }
  
    .portfolio-item p {
      font-size: 0.75rem;
    }
  }
  
  @media (max-width: 480px) {
    .portfolio h2 {
      font-size: 1rem;
    }
  
    .slick-prev, .slick-next {
      width: 20px;
      height: 20px;
    }
  
    .slick-prev {
      left: -20px;
    }
  
    .slick-next {
      right: -20px;
    }
  
    .slick-prev:before, .slick-next:before {
      font-size: 12px;
    }
  
    .portfolio-item h3 {
      font-size: 0.8rem;
    }
  
    .portfolio-item p {
      font-size: 0.7rem;
    }
  }
  