.timeline-container {
    margin-top: 300px; /* Moves the entire timeline down */
    margin-bottom: 180px;
  }
  
  .timeline {
    position: relative;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
  }
  
  .timeline-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #333;
    position: relative;
  }
  
  .timeline-bar::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 20px solid #333;
  }
  
  .year {
    color: white;
    padding: 5px;
  }
  
  .timeline-entries {
    position: relative;
    height: 100px;
    width: 1500px;
  }
  
  .entry {
    position: absolute;
    width: 18%;
  }
  
  #entry-top-year1 {
    top: -250px; /* Adjusted top position */
  }
  
  #entry-bottom-year2 {
    bottom: -120px; /* Adjusted bottom position */
  }

  #entry-top-year3 {
    top: -320px; /* Adjusted top position */
  }

  #entry-bottom-year4 {
    bottom: -150px; /* Adjusted bottom position */
  }
  
  .entry-content {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .entry::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #333;
    left: 50%;
    height: 30px;
  }
  
  .entry-top::after {
    top: 100%;
  }
  
  .entry-bottom::after {
    bottom: 100%;
  }
  
  h3 {
    margin: 0 0 10px 0;
  }
  
  h3 span {
    font-weight: normal;
  }
  
  ul {
    margin: 10px 0 0 0;
    padding-left: 20px;
  }
  